<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mynewsandroidtv">

    <application
        android:name=".utility.MyApplication"
        android:allowBackup="true"
        android:banner="@drawable/tv_launcher"
        android:configChanges="keyboard|keyboardHidden|navigation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/Theme.MyNewsandroidTV">

        <activity
            android:name=".activity.SplashActivity"
            android:banner="@drawable/app_icon_your_company"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape" />
    </application>
        <compatible-screens>
            <screen
                android:screenDensity="xhdpi"
                android:screenSize="large" />
            <screen
                android:screenDensity="xxxhdpi"
                android:screenSize="large" />
        </compatible-screens>

        <supports-screens android:resizeable="true" />

        <uses-feature
            android:name="android.hardware.faketouch"
            android:required="false" />

        <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />
        <uses-feature
            android:name="android.hardware.gamepad"
            android:required="false" />

        <uses-feature
            android:name="android.software.leanback"
            android:required="true" />
        <uses-permission android:name="android.permission.INTERNET" />

</manifest>